In [2]:
import pandas as pd
from scipy.stats import f_oneway

# Sample feedback data (replace with your actual data)
data = pd.DataFrame({
    "Platform": ["Amazon"]*10 + ["Flipkart"]*10 + ["Snapdeal"]*10,
    "Feedback": [7.5, 7.5, 8.5, 9.5, 7.5, 6, 10, 8.5, 5, 8,
                 7.5, 6, 10, 9, 6.5, 10, 9, 6.5, 10, 9,
                 8.5, 7.5, 6, 8, 8.5, 5, 8, 10, 7, 6]
})

data

    Platform  Feedback
0     Amazon       7.5
1     Amazon       7.5
2     Amazon       8.5
3     Amazon       9.5
4     Amazon       7.5
5     Amazon       6.0
6     Amazon      10.0
7     Amazon       8.5
8     Amazon       5.0
9     Amazon       8.0
10  Flipkart       7.5
11  Flipkart       6.0
12  Flipkart      10.0
13  Flipkart       9.0
14  Flipkart       6.5
15  Flipkart      10.0
16  Flipkart       9.0
17  Flipkart       6.5
18  Flipkart      10.0
19  Flipkart       9.0
20  Snapdeal       8.5
21  Snapdeal       7.5
22  Snapdeal       6.0
23  Snapdeal       8.0
24  Snapdeal       8.5
25  Snapdeal       5.0
26  Snapdeal       8.0
27  Snapdeal      10.0
28  Snapdeal       7.0
29  Snapdeal       6.0

In [3]:
# Separate feedback by platform
amazon = data[data["Platform"] == "Amazon"]["Feedback"]
flipkart = data[data["Platform"] == "Flipkart"]["Feedback"]
snapdeal = data[data["Platform"] == "Snapdeal"]["Feedback"]

In [5]:
# Perform ANOVA test
f_statistic, p_value = f_oneway(amazon, flipkart, snapdeal)

# Print results
print("One-Way ANOVA Results:")
print(f"F-statistic: {f_statistic:.4f}")
print(f"P-value: {p_value:.4f}")

One-Way ANOVA Results:
F-statistic: 0.8913
P-value: 0.4218

In [7]:
import pandas as pd
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# Fit the ANOVA model (using the same data as above)
model = ols("Feedback ~ C(Platform)", data=data).fit()

# Perform ANOVA and get a table
anova_table = anova_lm(model, typ=2)
print("\nANOVA Table:")
print(anova_table)

ANOVA Table:
                sum_sq    df         F    PR(>F)
C(Platform)   4.116667   2.0  0.891339  0.421832
Residual     62.350000  27.0       NaN       NaN

In [8]:
import numpy as np

# Feedback data (same as before)
amazon = [7.5, 7.5, 8.5, 9.5, 7.5, 6, 10, 8.5, 5, 8]
flipkart = [7.5, 6, 10, 9, 6.5, 10, 9, 6.5, 10, 9]
snapdeal = [8.5, 7.5, 6, 8, 8.5, 5, 8, 10, 7, 6]
all_feedback = amazon + flipkart + snapdeal

In [11]:
all_feedback

# Grand mean (mean of all feedback)
grand_mean = np.mean(all_feedback)

In [12]:
grand_mean

np.float64(7.866666666666666)

In [16]:
# Calculate Sums of Squares
ss_between = sum([len(group) * (np.mean(group) - grand_mean)**2 for group in [amazon, flipkart, snapdeal]])
ss_within = sum([sum((x - np.mean(group))**2 for x in group) for group in [amazon, flipkart, snapdeal]])
ss_total = sum((x - grand_mean)**2 for x in all_feedback)

print("Sum of Squares Between (SSB):", ss_between)
print("Sum of Squares Within (SSW):", ss_within)
print("Sum of Squares Total (SST):", ss_total)

Sum of Squares Between (SSB): 4.116666666666662
Sum of Squares Within (SSW): 62.349999999999994
Sum of Squares Total (SST): 66.46666666666667

2. Calculating Degrees of Freedom

In [17]:
n_groups = 3  # Number of platforms (Amazon, Flipkart, Snapdeal)
n_total = len(all_feedback)  # Total number of feedback entries

df_between = n_groups - 1
df_within = n_total - n_groups
df_total = n_total - 1

print("Degrees of Freedom Between (dfB):", df_between)
print("Degrees of Freedom Within (dfW):", df_within)
print("Degrees of Freedom Total (dfT):", df_total)

Degrees of Freedom Between (dfB): 2
Degrees of Freedom Within (dfW): 27
Degrees of Freedom Total (dfT): 29

3. Calculating Mean Squares

In [18]:
ms_between = ss_between / df_between
ms_within = ss_within / df_within

print("Mean Square Between (MSB):", ms_between)
print("Mean Square Within (MSW):", ms_within)

Mean Square Between (MSB): 2.058333333333331
Mean Square Within (MSW): 2.309259259259259

In [19]:
f_statistic = ms_between / ms_within

print("F-statistic:", f_statistic)

F-statistic: 0.8913392141138724

Find P value

In [20]:
from scipy.stats import f

# Your calculated F-statistic
f_statistic = 0.8913

# Degrees of freedom (from previous calculations)
df_between = 2
df_within = 27

# Calculate p-value (1 - cumulative distribution function)
p_value = 1 - f.cdf(f_statistic, df_between, df_within)

print("P-value:", p_value)

P-value: 0.42184753550605847

In [22]:
import pandas as pd
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# ... (Your DataFrame 'data' with 'Platform' and 'Feedback' columns)

# Fit the ANOVA model
model = ols("Feedback ~ C(Platform)", data=data).fit()

# Get ANOVA table
anova_table = anova_lm(model, typ=2)
print(anova_table)

# Extract p-value from the table
p_value = anova_table['PR(>F)'].iloc[0]  # Use .iloc[] for position-based access

print("P-value from ANOVA table:", p_value)

                sum_sq    df         F    PR(>F)
C(Platform)   4.116667   2.0  0.891339  0.421832
Residual     62.350000  27.0       NaN       NaN
P-value from ANOVA table: 0.421832017958528